@media only screen and (min-width: 64rem){
    /*---Menu configuration --*/
    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        justify-content: flex-end;
    }

    ul.menuLinks a:hover{
        background-color: rgba(255,255,255,0.2);
        color: orange;
    }
    nav{
        grid-template-rows: 1fr;
    }
    /*---End of Menu Configuration --*/
    #discover-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .discover-card {
        grid-template-areas:
            "photo"
            "name"
            "description"
            "location"
            "button";
    }

    .discover-card figure {
        width: 100%;
    }

    .discover-card figure img {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
    }
    
    .discover-card-name {
        font-size: 1.2em;
        font-weight: 700;
    }
    /*---Footer configuration --*/
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        text-align: justify;
        font-size: 1rem;
    }

    .socialMedia img{
        margin: 0px 5px;
        width: 40px;
        height: auto;
        object-fit: contain;
    }
    .socialMedia, .chamberInformation, .classInformation{
        margin: 20px 0;
    }
}